/* Pages - Login */

.login {
    // margin: -168px 0 0;
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 50%;
    
	& label {
		color: #707478;
	}
	& .login-header {
		// position: absolute;
		// top: -80px;
		// left: 50%;
		// right: 0;
		// width: 450px;
		// padding: 0 40px;
		// margin-left: -225px;
		// font-weight: 300;
		
		& .brand {
			padding: 0;
			font-size: 28px;
			color: $black;
		
			& .logo {
				width: 48px;
				height: 48px;
				position: relative;
				margin-right: 5px;
				display: inline-block;
				margin-top: -10px;
				top: 10px;
				line-height: 28px;
				text-shadow: 5px -5px rgba(0,0,0,0.25);
				font-size: 48px;
			}
			& small {
				font-size: 14px;
				display: block;
				color: #707478;
			}
		}
		& .icon {
			position: absolute;
			right: 40px;
			top: -2px;
			opacity: 0.1;
			color: #000;
		}
		& .icon i {
			font-size: 70px;
		}
	}
	// &.login-content {
		// padding: 30px 40px;
		// color: #999;
		// width: 450px;
		// margin: 0 auto;
	// }
}