/* Pages - Register */
.register{
    z-index: 1;
    a {
		color: #fff;
	}
	label {
		color: #ccc;
	}
    .register-header{
        .brand {
			padding: 0;
			font-size: 28px;
			color: white;
		
			& .logo {
				width: 48px;
				height: 48px;
				position: relative;
				margin-right: 5px;
				display: inline-block;
				margin-top: -10px;
				top: 10px;
				line-height: 28px;
				text-shadow: 5px -5px rgba(0,0,0,0.25);
				font-size: 48px;
			}
			small {
				font-size: 14px;
				display: block;
			    color: rgba(255,255,255,0.5);
            }
            .icon {
                opacity: 0.4;
                right: 20px;
                top: 2px;
            }
            .icon i {
                font-size: 56px;
            }
        }
    }
    .form-control {
		background: rgba(0,0,0,0.5);
		// border: 1px solid transparent;
		color: #fff;
		
		&:focus {
			border-color: transparent;
			box-shadow: 0 0 0 0.125rem rgba(255,255,255, 0.3);
		}
	}
    .register-content{

    }

}