<template>
</template>
<script>

import { setIdToken, setAccessToken } from '../utils/auth';

export default {
    name: '',
    mounted() {
        this.$nextTick(function(){
            setAccessToken();
            setIdToken();
            this.$router.push('/');
            console.log('router pushed');
        });
    },
};
</script>
