<template>
  <div>
    <pre>{{ userInfo }}</pre>
  </div>
</template>

<script>
import { isLoggedIn } from '../utils/auth';
import { getUsers } from '../utils/users';

export default {
    name: 'Home',
    components: {
        AppNav,
    },
    data() {
        return {
            userInfo:{}
        };
    },
    computed:{
    },
    methods: {
        isLoggedIn() {
            return isLoggedIn();
        },
    },
    mounted() {
        var vm = this;
        getUsers().then(function(response){
            vm.userInfo =  response.data;
        });
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
