<template>
</template>
<script>


import {login} from '../utils/auth';

export default {
    name: 'Login',
    mounted() {
        this.$nextTick(function(){
            login();
        });
    },
};
</script>
