<style lang="scss" scoped>

</style>
<template>
    <div id="content" class="content">
        <!-- begin #page-container -->
        <div id="page-container">
            User Create
        </div>
        <!-- end page container -->
    </div>
</template>
<script>
import Vue from 'vue'
import { required, email  } from 'vuelidate/lib/validators'
import firebase from 'firebase'
import { mapGetters } from 'vuex'
import nativeToast from 'native-toast'
import { empty } from 'locutus/php/var'
import { trim } from 'locutus/php/strings'
import VueMask from 'di-vue-mask'
/** Activate vue.js plugins **/
Vue.use(VueMask);

export default {
    name: 'UserCreate',
    validations: function(){
        return {
            email: { required, email },
            password: { required },
        };
    },
    data() {
        return {
            email:'',
            password:'',
            profileStore:{
                address:'',
                placeId:'',
                firstName:'',
                middleName:'',
                lastName:'',
                phoneNumber:'',
            }
        };
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
        })
    },
    methods:{
       
    }
}
</script>