<style lang="scss" scoped>

.checkbox{
    label{
        display: inline;
    }
    .forgot-password{
        display: inline;
        font-weight: bold;
        color: white;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            color:lightblue;
        }
    }   
}
.register{
    font-weight: bold;
    color: white;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color:lightblue;
    }
}

.verify-container{
	transform: translateY(50%);
}
h1, h2, h3, h4, h5, h6{
    color: white;
}
.h1, h1 { font-size: 36px; }
.h2, h2 { font-size: 30px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
.h5, h5 { font-size: 14px; }
.h6, h6 { font-size: 12px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: white;
}
</style>
<template>

    <div class="row justify-content-center verify-container">
        <!-- begin login -->
        <div class="login login-v2 col-xs-12 col-sm-8 col-md-6 text-center">
            <!-- begin brand -->
                <div class="login-header">
                <div class="brand">
                    <span class="logo"><i class="ion-ios-cloud"></i></span> <b>NextGen</b> Planning
                    <small>The Next Generation of Athletic Planning & Training</small>
                </div>
            </div>
            <!-- end brand -->
            <!-- begin login-content -->
            <div class="login-content">
                <h3 class='text-white'>Your account needs to be verified.</h3>
                <button v-show='!emailSent' @click='verifyEmail' class='btn btn-success'>Send Verification email</button>
                <h5 v-show='emailSent' class='text-white'> Please Check Your Email</h5>
            </div>
            <!-- end login-content -->
        </div>
        <!-- end login -->
    </div>
</template>
<script>
import firebase from 'firebase'


export default {
    name: 'Verify',
    data() {
        return {
            emailSent: false,
        };
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
        })
    },
    
    methods:{
        verifyEmail(){
            var vm = this;
            var user = firebase.auth().currentUser;
            user.sendEmailVerification(process.env.firebase_actionCodeSettings).then(function() {
                // Email sent.
                vm.emailSent = true;
                console.log('email sent');  
            }).catch(function(error) {
                // An error happened.
                console.log('error',error);    
            });
        }
    }
}
</script>