<style lang="scss" scoped>
.forgotpassword-container{
	transform: translateY(50%);
}
.login-link{
    font-weight: bold;
    // color: white;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color:lightblue;
    }
}
h1, h2, h3, h4, h5, h6{
    color: white;
}
.h1, h1 { font-size: 36px; }
.h2, h2 { font-size: 30px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
.h5, h5 { font-size: 14px; }
.h6, h6 { font-size: 12px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: white;
}

div {
    color: #ccc;
}
</style>
<template>
    <!-- begin register -->
    <div class="row justify-content-center forgotpassword-container">
        <div class="register  col-12 col-md-8 col-lg-6 col-xl-5">
            <!-- begin register-header -->
            <h1 class="register-header">
                <div class="brand">
                    <span class="logo"><i class="ion-ios-cloud"></i></span> <b>NextGen</b> Planning Registration
                    <small>The Next Generation of Athletic Planning & Training</small>
                </div>
            </h1>
            <!-- end register-header -->
            <!-- begin register-content -->
            <div class="register-content">
                <form class="margin-bottom-0" v-on:submit.prevent="onSubmit($v)"> 
                    <div class="form-group m-b-20">
                        <label for='email'>Email</label>
                        <input id='email' type="text" :class="{ 'is-valid': $v.email.$dirty && !$v.email.$invalid  , 'is-invalid': $v.email.$error || firebaseUserError  }"  class="form-control form-control-lg" placeholder="Email" v-model.trim="$v.email.$model" />
                        <div v-show='$v.email.$error || firebaseUserError' class="invalid-feedback">
                            <span v-show='!$v.email.required'>Email Required</span>
                            <span v-show='!$v.email.email'>Valid Email Required</span>
                            <span v-show='firebaseUserError != undefined'> {{ firebaseUserError }}</span>
                        </div>

                    </div>
                    <div class="register-buttons">
                        <button type="submit" class="btn btn-info btn-block btn-lg">Send Password Recovery</button>
                    </div>
                </form>
                <div class="m-t-20 m-b-40 p-b-40 ">
                    Already a member? <router-link to="/login" tag="span" class='login-link'>Login</router-link> here
                </div>
            </div>
            <!-- end register-content -->
        </div>
    </div>
    <!-- end register -->
</template>
<script>
import { required, email } from 'vuelidate/lib/validators'
import firebase from "firebase";

export default {
    name: '',
    validations: function(){
        return {
            email: { required, email },
        };
    },
    data() {
        return {
            email:'',
            firebaseUserError: undefined,
        };
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
        })
    },
    methods:{
       onSubmit($v){
            $v.$touch();
            if(!$v.$error){
                var vm = this;
                var auth = firebase.auth();
                auth.sendPasswordResetEmail(this.email,process.env.firebase_actionCodeSettings).then(function() {
                    // Email sent.
                    vm.$store.commit('saveFlash',{
                        type:'success',
                        mess: 'Please check your email for account password reset'
                    });
                    vm.$router.push({ path: 'login' });
                }).catch(function(error) {
                    // An error happened.
                    console.log(error);
                    vm.firebaseUserError = error.message;
                });
            }
        }
    }
}
</script>