<style lang="scss" scoped>

.checkbox{
    label{
        display: inline;
    }
    .forgot-password{
        display: inline;
        font-weight: bold;
        color: white;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            color:lightblue;
        }
    }   
}
.register-btn{
    font-weight: bold;
    color: white;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color:lightblue;
    }
}
.login-container{
	transform: translateY(50%);
}
h1, h2, h3, h4, h5, h6{
    color: white;
}
.h1, h1 { font-size: 36px; }
.h2, h2 { font-size: 30px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
.h5, h5 { font-size: 14px; }
.h6, h6 { font-size: 12px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: white;
}
</style>
<template>
    <!-- begin login -->
    <div class="row justify-content-center login-container">
        <!-- <button @click='test'>Add Flash</button> -->
        <div class="login login-v2 col-12 col-md-8 col-lg-6 col-xl-5">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"><i class="ion-ios-cloud"></i></span> <b>NextGen</b> Planning
                    <small>The Next Generation of Athletic Planning & Training</small>
                </div>
            </div>
            <!-- end brand -->
            <!-- begin login-content -->
            <div class="login-content">
                <form class="margin-bottom-0"  v-on:submit.prevent="onSubmit($v)"> 
                    <div class="form-group m-b-20">
                        <label for='email'>Email</label>
                        <input id='email' type="text" :class="{ 'is-valid': $v.email.$dirty && !$v.email.$invalid  , 'is-invalid': $v.email.$error || firebaseUserError  }"  class="form-control form-control-lg" placeholder="Email" v-model.trim="$v.email.$model" />
                        <div v-show='$v.email.$error || firebaseUserError' class="invalid-feedback">
                            <span v-show='!$v.email.required'>Email Required</span>
                            <span v-show='!$v.email.email'>Valid Email Required</span>
                            <span v-show='firebaseUserError != undefined'> {{ firebaseUserError }}</span>
                        </div>

                    </div>
                    <div class="form-group m-b-20">
                        <label for='password'>Password</label>
                        <input id='password' type="password" :class="{ 'is-valid': $v.password.$dirty && !$v.password.$invalid  , 'is-invalid': $v.password.$error || firebasePasswordError  }" class="form-control form-control-lg" placeholder="Password" v-model.trim="$v.password.$model" />
                        <div v-show='$v.password.$error || firebasePasswordError' class="invalid-feedback">
                            <span v-show='!$v.password.required'> Password Required</span>
                            <span v-show='firebasePasswordError'> {{ firebasePasswordError }}</span>
                        </div>
                    </div>
                    <div class="checkbox checkbox-css m-b-20">
                        <input type="checkbox" id="remember_checkbox" /> 
                        <label for="remember_checkbox">
                            Remember Me 
                        </label>
                        <router-link to="/forgot-password" tag="span" class='forgot-password'>(Forgot Password)</router-link>
                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                    </div>
                    <div class="m-t-20">
                        Not a member yet? <router-link to="/register" tag="span" class='register-btn'>Register</router-link> here.
                    </div>
                </form>
            </div>
            <!-- end login-content -->
        </div>
    </div>
    <!-- end login -->
</template>
<script>
import { required, email  } from 'vuelidate/lib/validators'
import firebase from 'firebase'


export default {
    name: 'Home',
    validations: function(){
        return {
            email: { required, email },
            password: { required },
        };
    },
    data() {
        return {
            email:'',
            password:'',
            firebasePasswordError: undefined,
            firebaseUserError: undefined,
        };
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
        })
    },
    
    methods:{
        test(){
            this.$store.commit('saveFlash',{
                type:'success',
                mess: 'Please check your email for account verification'
            })
        },
        onSubmit($v){
            var vm = this;
            $v.$touch();
            if(!$v.$error){
                firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
                    function(user) {
                        vm.$router.push({ path: 'home' });
                    },
                    function(error) {
                        vm.firebaseUserError = undefined;
                        vm.firebasePasswordError = undefined;
                        var errorCode = error.code;
                        if(errorCode == 'auth/invalid-email'){
                            vm.firebaseUserError = 'Please use a valid email account';
                        }else if(errorCode == 'auth/user-disabled'){
                            vm.firebaseUserError = 'This account has been disabled. Please contact your administrator to re-enable it.';
                        }else if(errorCode == 'auth/user-not-found'){
                            vm.firebaseUserError = 'There\'s not account with this email address';
                        }else if (errorCode == 'auth/wrong-password'){
                            vm.firebasePasswordError = 'Invalid Password';
                        }else{
                            vm.firebasePasswordError = error.message;
                        }
                        console.log('Oops. ' + error.message)
                        console.log(errorCode)
                    }
                );
                console.log(this.email,this.password);
            }
        }
    }
}
</script>