<style lang="scss" scoped>
.nav-link{
    cursor: pointer;
}
.edit-link{
    cursor: pointer;
    color: #007AFF;
    &:hover,
    &:focus{
        color: #005bbf;
        outline: none;
    }
    &:hover{
        text-decoration: underline;
    } 
}
</style>
<template>
    <!-- begin #content -->
    <div id="content" class="content content-full-width">
        <!-- begin profile -->
        <div class="profile">
            <div class="profile-header">
                <!-- BEGIN profile-header-cover -->
                <div class="profile-header-cover"></div>
                <!-- END profile-header-cover -->
                <!-- BEGIN profile-header-content -->
                <div class="profile-header-content">
                    <!-- BEGIN profile-header-img -->
                    <div class="profile-header-img">
                         <img :src="user.photoUrl" alt="" />
                    </div>
                    <!-- END profile-header-img -->
                    <!-- BEGIN profile-header-info -->
                    <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">{{ profile.fullName }}</h4>
                        <h4 class="m-t-10 m-b-5">{{ user.displayName }}</h4>
                        <p class="m-b-10">{{ profile.title }}</p>
                        <!-- <button @click="editable = !editable" class="btn btn-xs btn-yellow"><span v-show="editable">Cancel</span> Edit Profile</button> -->
                    </div>
                    <!-- END profile-header-info -->
                </div>
                <!-- END profile-header-content -->
                <!-- BEGIN profile-header-tab -->
                <ul class="profile-header-tab nav nav-tabs">
                    <li class="nav-item"><a :class="{'active': panel == 'profile'}" @click="panel = 'profile'" class="nav-link text-uppercase" >Profile</a></li>
                    <!-- <li class="nav-item"><a :class="{'active': panel == 'account'}" @click="panel = 'account'" class="nav-link text-uppercase" >Account</a></li> -->
                </ul>
                <!-- END profile-header-tab -->
            </div>
        </div>

        <!-- end profile -->
        <!-- begin profile-content -->
        <div class="profile-content">
            <div v-show="panel=='profile'" class="p-0">
                <!-- begin table -->
                <div class="table-responsive">
                    <table class="table table-profile">
                        <tbody>
                            <!-- Name -->
                            <tr class="highlight">
                                <td class="field">Name</td>
                                <td>
                                    <span v-show="!empty(profile.fullName)">
                                        {{ profile.fullName }}
                                        <a v-show="!edit_name" @click="edit_name = true" href="javascript:;">Edit Name</a>
                                    </span>
                                    <span v-show="empty(profile.fullName)"> <a v-show="!edit_name" @click="edit_name = true" href="javascript:;">Add Name</a></span>
                                    <span v-show="edit_name">
                                        <a v-show="!edit_name" @click="edit_name = true" href="javascript:;">Add Name</a>
                                        <form v-show="edit_name" class="margin-bottom-0" v-on:submit.prevent="updateProfile('name')">
                                            <div class="form-row"> 
                                                <div class="col form-group col-xs-12 col-sm-3">
                                                    <input  v-model.trim="profileStore.firstName" type="text" class="form-control" placeholder="First name">
                                                </div>
                                                <div class="col form-group col-xs-12 col-sm-3">
                                                    <input v-model.trim="profileStore.middleName"  type="text" class="form-control" placeholder="Middle name">
                                                </div>
                                                <div class="col form-group col-xs-12 col-sm-3">
                                                    <input v-model.trim="profileStore.lastName"  type="text" class="form-control" placeholder="Last name">
                                                </div>
                                                <div class="col form-group col-xs-12 col-sm-3">
                                                    <a @click="updateProfile('name')" href="javascript:;" class="btn btn-success btn-icon btn-circle"><i class="fa fa-check"></i></a>
                                                    <a @click="edit_name = false" href="javascript:;" class="btn btn-danger btn-icon btn-circle"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                        </form>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="field">Email</td>
                                <td>
                                    <i class="fa fa-at  m-r-5"></i>{{ user.email  }}
                                    <a v-show="!edit_email" @click="edit_email = true" href="javascript:;">Edit Email</a>
                                    <form v-show="edit_email" class="margin-bottom-0" v-on:submit.prevent="updateEmail($v)">
                                        <div class="form-row"> 
                                            <div class="col form-group col-xs-12">
                                                <input id='email' type="text" :class="{ 'is-valid': $v.email.$dirty && !$v.email.$invalid  , 'is-invalid': $v.email.$error || firebaseEmailError  }"  class="form-control form-control-lg" placeholder="Email" v-model.trim="$v.email.$model" />
                                                <div v-show='$v.email.$error || firebaseEmailError' class="invalid-feedback">
                                                    <span v-show='!$v.email.required'>Email Required</span>
                                                    <span v-show='!$v.email.email'>Valid Email Required</span>
                                                    <span v-show='firebaseEmailError != undefined'> {{ firebaseEmailError }}</span>
                                                </div>
                                            </div>
                                            <div class="col form-group col-xs-12 col-sm-3">
                                                <a @click="updateEmail($v)" href="javascript:;" class="btn btn-success btn-icon btn-circle"><i class="fa fa-check"></i></a>
                                                <a @click="edit_email = false" href="javascript:;" class="btn btn-danger btn-icon btn-circle"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                             <tr>
                                <td class="field">Password</td>
                                <td>
                                    <a v-show="!edit_password" @click="edit_password = true" href="javascript:;">Edit Password</a>
                                    <form v-show="edit_password" class="margin-bottom-0" v-on:submit.prevent="updatePassword($v)">
                                        <div class="form-row"> 
                                            <div class="col form-group col-xs-12">

                                                <div class="input-group">
                                                    <input id='newPassword' :type="passwordFieldType" :class="{ 'is-valid': $v.newPassword.$dirty && !$v.newPassword.$invalid  , 'is-invalid': $v.newPassword.$error || firebaseNewPasswordError  }" class="form-control form-control-lg" placeholder="Password" v-model.trim="$v.newPassword.$model" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" @click="switchVisibility" type="button">
                                                            <i v-show='passwordFieldType =="password"' class="fa fa-eye"></i>
                                                            <i v-show='passwordFieldType == "text"'  class="fa fa-eye-slash"></i>
                                                        </button>
                                                    </div>
                                                    <div v-show='$v.newPassword.$error || firebaseNewPasswordError' class="invalid-feedback">
                                                        <span v-show='!$v.newPassword.required'> Password Required</span>
                                                        <span v-show='firebaseNewPasswordError'> {{ firebaseNewPasswordError }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col form-group col-xs-12 col-sm-3">
                                                <a @click="updatePassword($v)" href="javascript:;" class="btn btn-success btn-icon btn-circle"><i class="fa fa-check"></i></a>
                                                <a @click="edit_password = false" href="javascript:;" class="btn btn-danger btn-icon btn-circle"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr class="divider">
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="field">Phone</td>
                                <td>
                                    <i class="fa fa-mobile fa-lg m-r-5"></i>{{ profile.phoneNumber  }}
                                    <a v-show="!edit_phone && !empty(profile.phoneNumber)" @click="edit_phone = true" href="javascript:;">Edit Phone</a>
                                    <a v-show="empty(profile.phoneNumber)" @click="edit_phone = true" href="javascript:;">Add Phone</a>
                                    <form v-show="edit_phone" class="margin-bottom-0" v-on:submit.prevent="updateProfile('phone')">
                                        <div class="form-row"> 
                                            <div class="col form-group col-xs-12 col-sm-3">
                                                <input v-mask-phone.us  v-model.trim="profileStore.phoneNumber"  class="form-control" placeholder="Phone">
                                            </div>
                                            <div class="col form-group col-xs-12 col-sm-3">
                                                <a @click="updateProfile('phone')" href="javascript:;" class="btn btn-success btn-icon btn-circle"><i class="fa fa-check"></i></a>
                                                <a @click="edit_phone = false" href="javascript:;" class="btn btn-danger btn-icon btn-circle"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="field">Address</td>
                                <td>
                                    <i class="fas fa-map-marker-alt fa-lg m-r-5"></i>{{ profile.address  }}
                                    <a v-show="!edit_address && !empty(profile.address)" @click="edit_address = true" href="javascript:;">Edit Address</a>
                                    <a v-show="empty(profile.address)" @click="edit_address = true" href="javascript:;">Add Address</a>
                                    <form v-show="edit_address" class="margin-bottom-0" v-on:submit.prevent="updateProfile('address')">
                                        <div class="form-row"> 
                                            <div class="col form-group col-xs-12 ">
                                                <input id='address' ref="autocomplete" 
                                                    placeholder="Address" 
                                                    type="text"   
                                                    class="form-control " 
                                                    v-model.trim="profileStore.address" 
                                                />
                                            </div>
                                            <div class="col form-group col-xs-12 col-sm-3">
                                                <a @click="updateProfile('address')" href="javascript:;" class="btn btn-success btn-icon btn-circle"><i class="fa fa-check"></i></a>
                                                <a @click="edit_address = false" href="javascript:;" class="btn btn-danger btn-icon btn-circle"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <!-- end table -->
            </div>
        </div>
        <!-- end profile-content -->
        <!-- Modal -->
        <div ref="credModal" class="modal fade" id="credModal" tabindex="-1" role="dialog" aria-labelledby="credModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="credModalLabel">Re-Authentication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="margin-bottom-0"  v-on:submit.prevent="getCredentials($v)"> 
                            <div class="form-group m-b-20">
                                <label for='password'>Password</label>
                                <div class="input-group">
                                    <input id='password' :type="passwordFieldType" :class="{ 'is-valid': $v.password.$dirty && !$v.password.$invalid  , 'is-invalid': $v.password.$error || firebasePasswordError  }" class="form-control form-control-lg" placeholder="Password" v-model.trim="$v.password.$model" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" @click="switchVisibility" type="button">
                                            <i v-show='passwordFieldType =="password"' class="fa fa-eye"></i>
                                            <i v-show='passwordFieldType == "text"'  class="fa fa-eye-slash"></i>
                                        </button>
                                    </div>
                                    <div v-show='$v.password.$error || firebasePasswordError' class="invalid-feedback">
                                        <span v-show='!$v.password.required'> Password Required</span>
                                        <span v-show='firebasePasswordError'> {{ firebasePasswordError }}</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button  @click="getCredentials($v)" type="button" class="btn btn-primary">Authenticate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end #content -->
</template>
<script>
import Vue from 'vue'
import { required, email  } from 'vuelidate/lib/validators'
import firebase from 'firebase'
import { mapGetters } from 'vuex'
import VuePassword from 'vue-password'
import nativeToast from 'native-toast'
import { empty } from 'locutus/php/var'
import { trim } from 'locutus/php/strings'
import VueMask from 'di-vue-mask'
/** Activate vue.js plugins **/
Vue.use(VueMask);
Vue.component(VuePassword)

export default {
    name: 'Profile',
    components: {
        VuePassword,
    },
    validations: function(){
        return {
            email: { required, email },
            password: { required },
            newPassword: { required },
        };
    },
    data() {
        return {
            passwordFieldType: 'password',
            password:'',
            firebaseEmailError: undefined,
            firebasePasswordError: undefined,
            firebaseNewPasswordError: undefined,
            //Account
            email:'',
            newPassword:'',
            //Profile
            panel:'profile',
            autocomplete:undefined,
            edit_name:false,
            edit_phone:false,
            edit_address:false,
            edit_email:false,
            edit_password:false,
            profileStore:{
                address:'',
                placeId:'',
                firstName:'',
                middleName:'',
                lastName:'',
                phoneNumber:'',
            }
        };
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
            this.email = this.user.email;
            this.profileStore = {
                address: this.profile.address,
                placeId: this.profile.placeId,
                phoneNumber: this.profile.phone,
                firstName: this.profile.firstName,
                middleName: this.profile.middleName,
                lastName: this.profile.lastName,
            }
            this.autocomplete = new google.maps.places.Autocomplete(
                (this.$refs.autocomplete),
                {types: ['geocode']}
            );
            this.autocomplete.addListener('place_changed', () => {
                let place = this.autocomplete.getPlace();
                this.profileStore.address = place.formatted_address;
                this.profileStore.placeId = place.place_id;
                console.log(this.profileStore);
            }); 
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    vm.autocomplete.setBounds(circle.getBounds());
                });
            }
        })
    },
    computed:{ 
        ...mapGetters({
            profile: 'getUserProfile',
            user: 'getUser',
        })
    },
    watch:{
        profile(updated,old){
            console.log('profile updated');
            if(updated != old && Object.getOwnPropertyNames(old).length ){
                this.profileStore = {
                    address: this.profile.address,
                    placeId: this.profile.placeId,
                    phoneNumber: this.profile.phone,
                    firstName: this.profile.firstName,
                    middleName: this.profile.middleName,
                    lastName: this.profile.lastName,
                }
            }
        },
        user(updated,old){
            console.log('user updated');
            if(updated != old && Object.getOwnPropertyNames(old).length ){
                this.email = this.user.email;
            }
        }
    },
    methods:{
        empty(val){
            return empty(val);
        },
        updateProfile(val){
            console.log(this.profileStore);
            var userId = this.user.uid;
            var keys = Object.keys(this.profileStore);
            var len = keys.length;
            for (var i = 0 ; i < len; i += 1) {
                if(empty(this.profileStore[keys[i]])){
                    this.profileStore[keys[i]] = '';
                }
            }
            firebase.database().ref('profile/' + userId).update(this.profileStore);
            var viewDiv = 'edit_'+val;
            this[viewDiv] = false;
        },
        updatePassword($v){
            // credModal
            var vm = this;
            $v.newPassword.$touch();
            if(!$v.newPassword.$error){
                this.firebaseNewPasswordError = undefined;
                console.log('password is valid');
                this.user.updatePassword(this.newPassword).then(function() {
                    // emailVerified
                    // Update successful.
                    nativeToast({
                        message: 'Password Updated',
                        position: 'top',
                        closeOnClick: true,
                        type:'success'
                    });
                    console.log('update successful');
                    vm.edit_password = false;
                }).catch(function(error) {
                    // An error happened.
                    var errorCode = error.code;
                    if(errorCode == 'auth/requires-recent-login'){
                        // alert('throw login modal');
                        $('#credModal').modal();
                        vm.firebaseNewPasswordError = error.message;
                    }else{
                        vm.firebaseNewPasswordError = error.message;
                    }
                });
            }
        },

        updateEmail($v){
            // credModal
            var vm = this;
            $v.email.$touch();
            if(!$v.email.$error){
                this.firebaseEmailError = undefined;
                console.log('email is valid');
                this.user.updateEmail(this.email).then(function() {
                    // emailVerified
                    // Update successful.
                    nativeToast({
                        message: 'Email Updated',
                        position: 'top',
                        closeOnClick: true,
                        type:'success'
                    });
                    console.log('update successful');
                    vm.edit_email = false;
                }).catch(function(error) {
                    // An error happened.
                    var errorCode = error.code;
                    if(errorCode == 'auth/email-already-in-use'){
                        vm.firebaseEmailError = error.message;
                    }else if(errorCode == 'auth/invalid-email'){
                        vm.firebaseEmailError = error.message;
                    }else if(errorCode == 'auth/requires-recent-login'){
                        // alert('throw login modal');
                        $('#credModal').modal();
                        vm.firebaseEmailError = error.message;
                    }else{
                        vm.firebaseEmailError = error.message;
                    }
                });
            }
        },
        getCredentials($v){
            const vm = this;
            $v.password.$touch();
            console.log('Authetenticating ....')
            if(!$v.password.$error){
                console.log($v.password);
                var user = firebase.auth().currentUser;
                var credentials = firebase.auth.EmailAuthProvider.credential(
                    user.email,
                    this.password
                );
                user.reauthenticateAndRetrieveDataWithCredential(credentials).then(function(payload) {
                    // User re-authenticated.
                    vm.$store.commit('setUser', payload.user);
                    vm.$store.commit('setProfile', payload.user);
                    // vm.credentials = payload;
                    // console.log( 'vm creds',vm.credentials );
                    $('#credModal').modal('hide');
                }).catch(function(error) {
                    vm.firebasePasswordError = undefined;
                    vm.firebasePasswordError = error.message;
                    console.log('user obj error',error);
                });
            }
        },
        switchVisibility() {
            this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
        },
        updateEmailXXXX($v){
            var vm = this;
            $v.email.$touch();
            $v.currentPassword.$touch();
            if(!$v.email.$error && !$v.currentPassword.$error){
                console.log('email is valid');
                var user = firebase.auth().currentUser;
                var credentials = firebase.auth.EmailAuthProvider.credential(
                    user.email,
                    this.currentPassword
                );
                
                user.reauthenticateAndRetrieveDataWithCredential(credentials).then(()=>{
                    user.updateEmail(this.email).then(function() {
                        // Update successful.
                        nativeToast({
                            message: 'Email Updated',
                            position: 'top',
                            closeOnClick: true,
                            type:'success'
                        });
                        console.log('update successful');
                    }).catch(function(error) {
                        // An error happened.
                        vm.firebaseEmailError = undefined;
                        var errorCode = error.code;
                        if(errorCode == 'auth/email-already-in-use'){
                            vm.firebaseEmailError = error.message;
                        }else if(errorCode == 'auth/invalid-email'){
                            vm.firebaseEmailError = error.message;
                        }else if(errorCode == 'auth/requires-recent-login'){
                            vm.firebaseEmailError = error.message;
                        }else{
                            vm.firebaseEmailError = error.message;
                        }
                    });
                }) 
            }
        },
        /*updatePassword(){
            var user = firebase.auth().currentUser;
            user.reauthenticateAndRetrieveDataWithCredential(credential).then(function() {
                // User re-authenticated.
            }).catch(function(error) {
                // An error happened.
            });


            user.reauthenticateWithCredential(firebase.auth.EmailAuthProvider.credential(user.email, providedPassword)));
            user.updatePassword(newPassword);
            user.updatePassword(newPassword).then(function() {
                // Update successful.
            }).catch(function(error) {
                // An error happened.
            });
        }*/
    }
}
</script>