<style lang="scss" scoped>

.checkbox{
    label{
        display: inline;
    }
    .forgot-password{
        display: inline;
        font-weight: bold;
        color: white;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            color:lightblue;
        }
    }   
}
.login-link{
    font-weight: bold;
    // color: white;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color:lightblue;
    }
}
div {
    color: #ccc;
}
.register-container{
	transform: translateY(50%);
}
h1, h2, h3, h4, h5, h6{
    color: white;
}
.h1, h1 { font-size: 36px; }
.h2, h2 { font-size: 30px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
.h5, h5 { font-size: 14px; }
.h6, h6 { font-size: 12px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: white;
}
</style>
<template>
    <!-- begin register -->
    <div class="row justify-content-center register-container">
        <div class="register  col-12 col-md-8 col-lg-6 col-xl-5">
            <!-- begin register-header -->
            <h1 class="register-header">
                <div class="brand">
                    <span class="logo"><i class="ion-ios-cloud"></i></span> <b>NextGen</b> Planning Registration
                    <small>The Next Generation of Athletic Planning & Training</small>
                </div>
            </h1>
            <!-- end register-header -->
            <!-- begin register-content -->
            <div class="register-content">
                <form class="margin-bottom-0" v-on:submit.prevent="onSubmit($v)"> 
                    <div class="form-group m-b-20">
                        <label for='email'>Email</label>
                        <input id='email' type="text" :class="{ 'is-valid': $v.email.$dirty && !$v.email.$invalid  , 'is-invalid': $v.email.$error || firebaseUserError  }"  class="form-control form-control-lg" placeholder="Email" v-model.trim="$v.email.$model" />
                        <div v-show='$v.email.$error || firebaseUserError' class="invalid-feedback">
                            <span v-show='!$v.email.required'>Email Required</span>
                            <span v-show='!$v.email.email'>Valid Email Required</span>
                            <span v-show='firebaseUserError != undefined'> {{ firebaseUserError }}</span>
                        </div>

                    </div>
                    <div class="form-group m-b-20">
                        <label for='password'>Password</label>
                        <div class="input-group">
                            <input id='password' :type="passwordFieldType" :class="{ 'is-valid': $v.password.$dirty && !$v.password.$invalid  , 'is-invalid': $v.password.$error || firebasePasswordError  }" class="form-control form-control-lg" placeholder="Password" v-model.trim="$v.password.$model" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" @click="switchVisibility" type="button">
                                    <i v-show='passwordFieldType =="password"' class="far fa-eye"></i>
                                    <i v-show='passwordFieldType == "text"'  class="far fa-eye-slash"></i>
                                </button>
                            </div>
                            <div v-show='$v.password.$error || firebasePasswordError' class="invalid-feedback">
                                <span v-show='!$v.password.required'> Password Required</span>
                                <span v-show='firebasePasswordError'> {{ firebasePasswordError }}</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="register-buttons">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                    </div>
                </form>
                <div class="m-t-20 m-b-40 p-b-40 ">
                    Already a member? <router-link to="/login" tag="span" class='login-link'>Login</router-link> here
                </div>
            </div>
            <!-- end register-content -->
        </div>
    </div>
    <!-- end register -->
</template>
<script>
import { required, email } from 'vuelidate/lib/validators'
import firebase from "firebase";
export default {
    name: 'Register',
    validations: function(){
        return {
            email: { required, email },
            password: { required }
        };
    },
    data() {
        return {
            email:'',
            password:'',
            passwordFieldType: 'password',
            firebasePasswordError: undefined,
            firebaseUserError: undefined,
        };
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
        })
    },
    methods:{
        switchVisibility() {
            this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
        },
        onSubmit($v){
            console.log('submit registration');
            $v.$touch();
            if(!$v.$error){
                var vm = this;
                firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
                    function(success){
                        console.log('success');
                        var user = firebase.auth().currentUser;

                        var userId = user.uid;
                        firebase.database().ref('profile/' + userId).update({title:'Admin'});
                        var displayName = user.email.split("@")[0];
                        user.updateProfile({
                            displayName: displayName,
                        });

                        //User created Successfully Send Verification Email and then Logout
                        console.log(user);
                        user.sendEmailVerification(process.env.firebase_actionCodeSettings).then(function() {
                            // Email sent.
                            console.log('verification email sent'); 
                            vm.$store.commit('saveFlash',{
                                type:'success',
                                mess: 'Please check your email for account verification'
                            })
                            firebase.auth()
                            .signOut()
                            .then(function() {
                                vm.$router.push({ path: 'login' });
                            });
                        }).catch(function(error) {
                            // An error happened.
                            console.log('error',error);    
                        });
                    },
                    function(error){
                        console.log(error);
                        vm.firebaseUserError = undefined;
                        vm.firebasePasswordError = undefined;
                        var errorCode = error.code;
                        if(errorCode == 'auth/email-already-in-use'){
                            vm.firebaseUserError = error.message;
                        }else if(errorCode == 'auth/invalid-email'){
                            vm.firebaseUserError = error.message;
                        }else if(errorCode == 'auth/operation-not-allowed'){
                            vm.firebaseUserError = error.message;
                        }else if (errorCode == 'auth/weak-password'){
                            vm.firebasePasswordError = error.message;
                        }else{
                            vm.firebasePasswordError = error.message;
                        }
                    }
                )
                console.log(this.email,this.password);
            }else{

                console.log('registration error');
            }
        }
    }
}
</script>