<style lang="scss" scoped>
.alert{
    z-index: 1;
}
.alert-container{
    top: 3%;
    width: 100%;
    position: fixed;
    z-index: 2;
}
</style>
<template>
    <!-- begin #page-loader -->
    <div class="row justify-content-center alert-container">
        <div v-for="(alert, index) in alerts" :key="index" :class="['alert-'+alert.type]" class="col-12 col-md-8 col-lg-6 col-xl-5 alert alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ alert.mess }}
        </div>
    </div>
    <!-- end #page-loader -->
</template>
<script>
import { mapGetters } from 'vuex'

export default {
    name: '',
    data() {
        return {
        };
    },
    computed: {
        ...mapGetters({
            alerts: 'getflash'
        }),
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
        })
    },
    methods:{
       
    }
}
</script>