<template>
    <div>
        <div class='dd'>
            <router-link to="/" class="button">Home</router-link>
            <a class="button" v-on:click="signOut">Sign-out</a>
        </div>
     </div>
</template>

<script>
import firebase from 'firebase';
export default {
    name: 'app-nav',
    computed: {
    },
    computed: {
        isLoggedIn() {
            return this.$store.getters.isLoggedIn;
        }
    },
    methods: {
        signOut: function() {
            var vm = this;
            firebase.auth()
            .signOut()
            .then(function() {
                console.log('logout complete');
                localStorage.removeItem("user");
                vm.$router.replace('Login');
          } );
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.dd{
    padding-top: 500px;
}
</style>
