<style lang="scss" scoped>
.pointer{
    cursor: pointer;
}
</style>
<template>
   <!-- begin #header -->
    <div id="header" class="header navbar-default">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <router-link  class="navbar-brand" to="home">
                <span class="navbar-logo">
                    <i class="ion-ios-cloud"></i>
                </span> Next<b>Gen</b> Admin
            </router-link>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end navbar-header -->
        
        <!-- begin header-nav -->
        <ul class="navbar-nav navbar-right">
            <li>
                <form class="navbar-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter keyword" />
                        <button type="submit" class="btn btn-search"><i class="ion-ios-search-strong"></i></button>
                    </div>
                </form>
            </li>

            <notifications-bar></notifications-bar>
            
            <li class="dropdown navbar-user pointer">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img :src="user.photoUrl" alt="" /> 
                    <span class="d-none d-md-inline">{{ user.displayName }}</span> <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <router-link class="dropdown-item" to='profile'>Edit Profile</router-link>
                    <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
                    <a href="javascript:;" class="dropdown-item">Calendar</a>
                    <a href="javascript:;" class="dropdown-item">Setting</a>
                    <div class="dropdown-divider"></div>
                    <a @click="signOut" class="dropdown-item pointer">Log Out</a>
                </div>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end #header -->
</template>
<script>
import firebase from 'firebase';
import NotificationsBar from './components/NotificationBar'
import { mapGetters } from 'vuex'
export default {
    name: 'HeaderBar',
     components: {
        NotificationsBar,
    },
    data() {
        return {
        };
    },
    computed:{
        ...mapGetters({
            profile: 'getUserProfile',
            user: 'getUser',
        })
    },
    // watch:{
    //     user(updated,old){
    //         console.log('getter',updated,old);
    //     }
    // },
    mounted: function () {
        var vm = this;
        this.$nextTick(() => {
            console.log(this.user);
        })
    },
   methods: {
        signOut: function() {
            var vm = this;
            firebase.auth()
            .signOut()
            .then(function() {
                console.log('logout complete');
                // localStorage.removeItem("user");
                vm.$router.push({ path: '/login' })
          } );
        }
    }
}
</script>