<style lang="scss" scoped>

</style>
<template>
    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <a href="javascript:;" data-toggle="nav-profile">
                        <div class="cover with-shadow"></div>
                        <div class="image">
                            <img :src="user.photoUrl" alt="" />
                        </div>
                        <div class="info">
                            <b class="caret"></b>
                            {{ profile.concName }}
                            <small>{{ profile.title }}</small>
                        </div>
                    </a>
                </li>
                <li>
                    <ul class="nav nav-profile">
                        <li><router-link to='profile' active-class="active"><i class="ion-ios-cog-outline"></i> Settings</router-link></li>
                        <li><a href="javascript:;"><i class="ion-ios-compose-outline"></i> Send Feedback</a></li>
                        <li><a href="javascript:;"><i class="ion-ios-help-outline"></i> Helps</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end sidebar user -->
            
            <!-- begin sidebar nav -->
            <ul class="nav">
                <li class="nav-header">Navigation</li>
                <li><router-link to='home' active-class="active"> <i class="ion-home"> </i> Home</router-link></li>
                 <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <i class="ion-person-stalker"></i> 
                        <span>Users</span>
                    </a>
                    <ul class="sub-menu">
                        <li><router-link to='user-dashboard' active-class="active"> <i class="ion-clipboard"> </i> Dashboard</router-link></li>
                        <li><router-link to='user-create' active-class="active"> <i class="ion-person-add"> </i> Create</router-link></li>
                    </ul>
                </li>
            </ul>
            <!-- end sidebar user -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <!-- end #sidebar -->
</template>
<script>
import { mapGetters } from 'vuex'

export default {
    name: 'SideBar',
    data() {
        return {
        };
    },
    computed:{
        ...mapGetters({
            profile: 'getUserProfile',
            user: 'getUser',
        })
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
        })
    },
    methods:{
       
    }
}
</script>