<style lang="scss" scoped>

</style>
<template>
    <div>
        <!-- begin #page-container -->
        <div id="page-container">
            ActiveField
        </div>
        <!-- end page container -->
    </div>
</template>
<script>

export default {
    name: 'ActiveField',
    data() {
        return {
        };
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
        })
    },
    methods:{
       
    }
}
</script>