/* Variable */

$bg_body: white !default;

$silver_lighter: #f9f9f9 !default;
$silver: #eee !default;
$silver_darker: #eee !default;

$black: #222 !default;
$black_darker: #111 !default;
$black_lighter: #333 !default;

$red: #FF3B30 !default;
$red_darker: #bf2c24 !default;
$red_lighter: #ff6c64 !default;

$orange: #FF9500 !default;
$orange_darker: #bf7000 !default;
$orange_lighter: #f7b048 !default;

$yellow: #FFCC00 !default;
$yellow_darker: #bf9900 !default;
$yellow_lighter: #ffd940 !default;

$green: #4CD964 !default;
$green_darker: #39a34b !default;
$green_lighter: #79e38b !default;

$aqua: #5AC8FA !default;
$aqua_darker: #4396bb !default;
$aqua_lighter: #83d6fb !default;

$blue: #007AFF !default;
$blue_darker: #005bbf !default;
$blue_lighter: #5da5e8 !default;

$purple: #b503ff !default;
$purple_darker: #9601a7 !default;
$purple_lighter: #7f02b3 !default;

$grey: #8a8a8f !default;
$grey_darker: #67676b !default;
$grey_lighter: #a7a7ab !default;

$teal: #58eaa1 !default;
$teal_darker: #3ea471 !default;
$teal_lighter: #8af0bd !default;

$lime: #bbe244 !default;
$lime_darker: #839f30 !default;
$lime_lighter: #cfeb7c !default;

$pink: #FF2D55 !default;
$pink_darker: #b3203c !default;
$pink_lighter: #ff6c88 !default;

$indigo: #5856D6 !default;
$indigo_darker: #4240a0 !default;
$indigo_lighter: #8280e0 !default;

$yellow: #FFCC00 !default;
$yellow_darker: #bf9900 !default;
$yellow_lighter: #ffd940 !default;

$white: #ffffff !default;

// Text Color 
$body_text_color: #222 !default;
$heading_text_color: #222 !default;
$heading_small_text_color: #777 !default;
$form_label_color: $black_darker !default;

// Font Setting
$body_font_size: 12px !default;
$body_font_family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !default;
$ie8_body_font_family: Arial,sans-serif !default;