<style lang="scss" scoped>

</style>
<template>
    <div id="content" class="content">
        <div class='well'>
            <h1> Home </h1>
            <button @click='change' class='btn btn-success'>change</button>
            <pre>{{ profile }} </pre>
            <pre>{{ user }} </pre>
        </div>
        <div>
            <active-field/>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import firebase from 'firebase';
import ActiveField from '@/utils/form/ActiveField';


export default {
    name: 'Home',
    components: {
        ActiveField,
    },
    data() {
        return {
            database: null,
        };
    },
    mounted: function () {
        var vm = this;
        this.$nextTick(function () {
            vm.database = firebase.database();
        })
    },
    computed:{
        ...mapGetters({
            profile: 'getUserProfile',
            user: 'getUser',
        })
    },
    methods:{
       change(){
            // this.$store.commit('test');
            var userId = this.user.uid;
            console.log(userId);
            // var database = this.database;

            
            firebase.database().ref('profile/' + userId).set({
                username: 'Teach ',
                email: this.user.email,
                title : 'owner',
            });
            // user.updateProfile({
            //     displayName: 'displayName',
            // });
            
            /*
            firebase.database().ref('profile/' + userId).update({
                username: 'Pyroners62',
            });
            */
            

            // // var userId = firebase.auth().currentUser.uid;
            // firebase.database().ref('/testBucket/' + userId).once('value').then(function(snapshot) {
                
            //     var username = (snapshot.val() && snapshot.val().username) || 'Anonymous';
            //     // ...
            //     console.log(snapshot.val());
            // });

            // var messagesRef = database.ref('users');

       }
    }
}
</script>