<style lang="scss" scoped>
</style>
<template>
    <div id="app">
       <alerts/>

        <!-- begin #page-loader -->
        <transition name="fade">
            <div id="page-loader" v-show="loading"><span class="spinner"></span></div>
        </transition>
        <!-- end #page-loader -->

        <div v-if="showBackground" class="login-cover">
            <div class="login-cover-image"></div>
            <div class="login-cover-bg"></div>
        </div>

        <!-- begin #page-container -->
	    <div id="page-container" :class="{'page-container page-sidebar-fixed page-header-fixed page-with-top-menu':isLoggedIn}">
            <div v-show='isLoggedIn && !showBackground'>
                <header-bar/>
                <top-menu/>
                <side-bar/>
                <div class="sidebar-bg"></div> 
            </div>
            <router-view/>
        </div>
    </div>
</template>

<script>
import HeaderBar from '@/components/layouts/HeaderBar';
import TopMenu from '@/components/layouts/TopMenu';
import SideBar from '@/components/layouts/SideBar';
import Alerts from '@/components/widgets/Alerts';
import firebase from 'firebase';
import init from './mainapp';


export default {
    name: 'App',
    components: {
        HeaderBar,
        TopMenu,
        SideBar,
        Alerts
    },
    data() {
        return {
            loading: true,
            userPages:[
                'Login',
                'Verify',
                'Register',
                'ForgotPassword',
            ],
            routeName : '',
        };
    },
    methods:{
    },
    watch: {
        '$route' (to, from) {
            // console.log('change',to,from );
            this.routeName = to.name;
        }
    },
    computed: {
        showBackground(){
            return (this.userPages.indexOf( this.routeName ) != -1);
        },
        isLoggedIn() {
            return this.$store.getters.isLoggedIn;
        }
    },
    mounted: function () {
        var vm = this;
        this.routeName = this.$router.currentRoute.name;
        // console.log(this.$store.getters.isLoggedIn);
        this.$nextTick(function () {
            vm.loading = false; 
            init();
        });
        
    },
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.login-cover-image{
    background-image: url(./assets/img/login-bg/login-bg-17.jpg);
}
</style>
